$colorWhite: #ffffff;
$backgroundDark: #202020;
$gridgap: 30px;
$fontSizeHeading: 24px;
$colorOrange: #ff6e30;
$colorCategory: #333333;
$colorDateGrey: #999999;
$colorInput: #e9e9e9;
$colorHeader: #4a4a4a;
$fontSizeHeadingMobile: 18px;
$fontSizeMobile: 14px;
$colorActive: #ce4307;
$colorFocus: #bc572b;
